.character-icon {
    margin: 25px 15px;
    cursor: pointer;

    .image-container img {
        height: 240px;
        width: 120px;
    }

    .character-name {
        text-align: center;
    }
}
