.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            height: 64px;
            width: 64px;
            margin: auto 0;
        }
    }

    .options {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid gray;

        .option {
            padding: 10px 15px;
            color: black;
            font-size: 18pt;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
